 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
text-align: center;
display: flex;

 align-items: center;
 justify-content: center;
 height: 100vh;
 font-family: Arial, Helvetica, sans-serif;
 /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQC1F-1BjSFCpvnNMRqwxkzxssfTXXlDfusmA&usqp=CAU); */
background-size: cover;
}
.login{
    background-color:ghostwhite;
    border: solid 20px rgb(189, 188, 190);
    border-radius: 10px;
    padding: 10px;
    height: 620px;
    width: 500px ;
    margin : 100px;
}
.formulario input {

  
   width: 200px;
   padding-top: 20px;
   padding-bottom: 20px;
   border: 5px solid rgb(189, 188, 190);
   border-radius: 5px;
   margin-bottom: 20px;
   font-size: 15px;
  


}
.enviar {
   width: 100px;
   height: 50px;
   border: 5px solid rgb(189, 188, 190);
   margin-bottom: 20px;
 
}